<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
     <li><a href="https://peter517.github.io/2015/08/28/the-function-of-software/" target="_blank">一个完整软件产品需要的功能</a></li>

     <li><a href="https://peter517.github.io/2015/08/20/import-thing-easy-ignore-in-project/" target="_blank">开发中容易忽略的事情</a></li>

     <li><a href="https://peter517.github.io/2015/08/14/recursive-in-algorithm/" target="_blank">算法中的递归运用</a></li>

      <li><a href="https://peter517.github.io/2015/08/10/decompile-tools-on-all-platforms/" target="_blank">主流平台的反编译工具</a></li>

      <li><a href="http://peter517.github.io/2015/08/10/ubuntu-self-define-service/" target="_blank">Ubuntu中自定义服务</a></li>

       <li><a href="http://peter517.github.io/2015/08/10/git-configuration/" target="_blank">Git 个人配置</a></li>

      <li><a href="http://peter517.github.io/2015/08/06/android-ui-adaptor/" target="_blank">基于dp的Android UI 布局适配</a></li>

      <li><a href="https://peter517.github.io/2015/08/04/mapreduce-thinking/" target="_blank">MapReduce编程</a></li>
      
      <li><a href="https://peter517.github.io/2015/08/04/shell-useful-commands/" target="_blank">实用shell命令</a></li>
    </ul>
</div>
