<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="https://peter517.github.io/2015/08/04/mapreduce-thinking/" target="_blank" title="Hexo">MapReduce编程</a></li>
      <li><a href="https://peter517.github.io/2015/08/04/shell-useful-commands/" target="_blank" title="coney">实用shell命令</a></li>
    </ul>
</div>
